# Configuración de Base de Datos MySQL
MYSQL_ROOT_PASSWORD=aqui_va_contrasena_mysql
MYSQL_DATABASE=horworks_db

# Configuración del Backend (Flask)
FLASK_ENV=development
SECRET_KEY=clave_secreta_para_sesiones

# Este es solo un ejemplo para el archivo .env, creen uno y pongan su contraseña de mysql, el mio es diferente por eso no lo subi